<launch>
    <!-- First Camera -->
    <node name="rtp_receiver_front" pkg="rtp_receiver" type="rtp_to_ros.py" output="screen">
        <param name="port" type="int" value="5000" />
        <param name="camera_id" type="string" value="front_cam" />
    </node>

    <!-- Second Camera -->
    <!-- <node name="rtp_receiver_rear" pkg="rtp_receiver" type="rtp_to_ros.py" output="screen">
        <param name="port" type="int" value="5001" />
        <param name="camera_id" type="string" value="rear_cam" />
    </node> -->

    <node name="rqt_image_view" pkg="rqt_image_view" type="rqt_image_view" output="screen" />
</launch>